:root {
  --bg-color: #fffcf5;
  --text-color: #0d0d0d;
  --accent-color: #3d195b;
  --bubble-me: #3d195b;
  --bubble-them: #e9e9e9;
}

body.theme-arsenal {
  --text-color: #4a0404;
  --accent-color: #ef4444;
  --bubble-me: #4a0404;

  --container-color: #fce4e4;
}

body.theme-man-city {
  --text-color: #0c4a6e;
  --accent-color: #38bdf8;
  --bubble-me: #0c4a6e;

  --container-color: #f2f6f9;
}

body.theme-chelsea {
  --text-color: #1e3a8a;
  --accent-color: #3b82f6;
  --bubble-me: #1e3a8a;

  --container-color: #ebf4ff;
}

body.theme-man-utd {
  --text-color: #7f1d1d;
  --accent-color: #ef4444;
  --bubble-me: #7f1d1d;

  --container-color: #fff5f5;
}

body.theme-spurs {
  --text-color: #0f172a;
  --accent-color: #94a3b8;
  --bubble-me: #0f172a;

  --container-color: #f8fafc;
}

body.theme-liverpool {
  --text-color: #9991b1b;
  --accent-color: #b91c1c;
  --bubble-me: #991b1b;

  --container-color: #fdf2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 2s ease,
    color 2s ease;
}

.chat-container .nav-btn .main-heading .me .them .messages-log {
  transition:
    background-color 2s ease,
    color 2s ease;
}

ul {
  list-style-type: none;
}

.logo-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

button {
  cursor: pointer;
}

body {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.team-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem;
}

@media (max-width: 768px) {
  .team-nav ul {
    gap: 1rem;
    padding: 1rem;

    overflow-x: auto;
    white-space: nowrap;
  }
}

.nav-btn {
  border: none;
  background: transparent;
}

.main-heading {
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.3;

  color: var(--bubble-me);

  justify-self: flex-end;
}

.chat-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* background-color: var(--container-color); */
  color: var(--text-color);

  width: 100vw;
  max-width: 100rem;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 0.5rem;
}

.messages-log {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  overflow-y: auto;
}

.me {
  background-color: var(--bubble-me);
  color: #fff;
  align-self: flex-end;
}

.them {
  background-color: var(--bubble-them);
  align-self: flex-start;
}

.message {
  max-width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .message {
    max-width: 80%;
  }
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  gap: 1rem;
}

#msg-input {
  width: 50%;
  padding: 0.7rem 0.8rem;
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  outline: none;
  resize: none;
  font-family: inherit;
}

.attach-btn {
  background: transparent;
  border: none;
  fill: var(--accent-color);
}

.send-btn {
  background: transparent;
  border: none;
  fill: var(--accent-color);
}

.message-details {
  display: flex;
  gap: 0.3rem;

  color: var(--text-color);
  align-items: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.me .message-details {
  color: #fff;
}
