* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 2s ease,
    color 2s ease;
  padding: 1rem;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
