footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h2 {
  font-size: 5vw;
}

.main-heading {
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.3;

  color: var(--bubble-me);
}
