.main-heading {
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.3;

  color: var(--bubble-me);

  justify-self: flex-end;
}

.team-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem;

  @media (max-width: 768px) {
    gap: 1rem;
    padding: 1rem;

    overflow-x: auto;
    white-space: nowrap;
  }
}

.nav-btn {
  border: none;
  background: transparent;
}

.logo-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-icon:hover {
  transform: scale(1.1);
}
