main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* background-color: var(--container-color); */
  color: var(--text-color);

  width: 100vw;
  max-width: 100rem;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 0.5rem;

  @media (max-width: 768px) {
    box-shadow: none;
  }
}

.messages-log {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  overflow-y: auto;
}

.message {
  max-width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  @media (max-width: 768px) {
    max-width: 80%;
  }
}

.message-details {
  display: flex;
  gap: 0.3rem;

  color: var(--text-color);
  align-items: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.me {
  background-color: var(--bubble-me);
  color: #fff;
  align-self: flex-end;
}

.me .message-details {
  color: #fff;
}

.them {
  background-color: var(--bubble-them);
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  gap: 1rem;
}

#msg-input {
  width: 50%;
  padding: 0.7rem 0.8rem;
  border: 1px solid var(--accent-color);
  border-radius: 2rem;
  outline: none;
  resize: none;
  font-family: inherit;
}

.attach-btn {
  background: transparent;
  border: none;
  fill: var(--accent-color);
}

.send-btn {
  background: transparent;
  border: none;
  fill: var(--accent-color);
}

.chat-container .nav-btn .main-heading .me .them .messages-log {
  transition:
    background-color 2s ease,
    color 2s ease;
}
