:root {
  --bg-color: #fffcf5;
  --text-color: #0d0d0d;
  --accent-color: #3d195b;
  --bubble-me: #3d195b;
  --bubble-them: #e9e9e9;
}

body.theme-arsenal {
  --text-color: #4a0404;
  --accent-color: #ef4444;
  --bubble-me: #4a0404;

  --container-color: #fce4e4;
}

body.theme-man-city {
  --text-color: #0c4a6e;
  --accent-color: #38bdf8;
  --bubble-me: #0c4a6e;

  --container-color: #f2f6f9;
}

body.theme-chelsea {
  --text-color: #1e3a8a;
  --accent-color: #3b82f6;
  --bubble-me: #1e3a8a;

  --container-color: #ebf4ff;
}

body.theme-man-utd {
  --text-color: #7f1d1d;
  --accent-color: #ef4444;
  --bubble-me: #7f1d1d;

  --container-color: #fff5f5;
}

body.theme-spurs {
  --text-color: #0f172a;
  --accent-color: #94a3b8;
  --bubble-me: #0f172a;

  --container-color: #f8fafc;
}

body.theme-liverpool {
  --text-color: #9991b1b;
  --accent-color: #b91c1c;
  --bubble-me: #991b1b;

  --container-color: #fdf2f2;
}
